<div class="row">
  <div class="col-12 col-md-5 col-lg-6">
    <h1>Login </h1>
    <% if (success) { %>
      <div class="alert alert-success">
        <p class="mb-0"><%= success %> </p>
      </div>
    <% } %>
    <% if (errors.validation) { %>
      <div class="alert alert-danger">
        <p><%= errors.validation.message %> </p>
        <% if (user.email) {%> 
          <p class="mb-0">Need new link?, <a href="/resendtoken/<%= user.email %>">click here</a></p>
        <% } %>
      </div>
    <% } %>
    <% if (errors.password) { %>
      <div class="alert alert-warning">
        <p><%= errors.password.message %> </p>
        <% if (user.password) {%> 
          <p class="mb-0">Change your password?, <a href="/sendchangepassword/<%= user.activation.token %>">click here</a></p>
        <% } %>
      </div>
    <% } %>
    <form action="/dologin" method="POST">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control " id="email" name="email" aria-describedby="emailHelp" 
        <% if (user.email) { %>
          value="<%= user.email %>"<% } else {%>value="onelifedesigning@gmail.com"<% } %>>
          <% if (errors.email) { %>
            <div class="invalid-feedback">
              <%= errors.email.message %>
            </div>
          <% } %>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" value="12345679">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  <div class="col-12 col-md-3 col-lg-3">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Login whit external providers</h5>
        <a href="/login/slack" class="btn btn-block btn-primary"><i class="fa fa-slack"></i> Slack</a>
        <a href="/login/google" class="btn btn-block btn-danger"><i class="fa fa-google"></i> Google</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <h2 class="text-center">Do you need to create a user?</h2>
    <a href="/register" class="btn btn-danger btn-block">Register</a>
  </div>
</div>